{% extends "base.html" %}
{% block content %}
<form method="POST">
    <div>
        <label>
            Name: <input type="text" name="name" required>
        </label>
    </div>
    <div>
        <label>
            Email: <input type="text" name="email" required>
        </label>
    </div>
    <div>
        <label>
            Change description: <input type="text" name="description" required>
        </label>
    </div>
    <div>
        <div></div>
            <label>
                Page Content:
            </label>
                <textarea rows="25" cols="60" input type="text" name="edit"> {{ content }} </textarea>
        </div>
    </div>
        <input type="submit" value="Submit">
</form>
<br>
<br>
<button class="button">
    {{view_link | safe}}
</button>
<button class="button">
    {{history_link | safe}}
</button>
{% endblock %}
