{% extends "base.html" %}
{% block content %}
    <h1 class="has-text-centered">Welcome to the UPRM WIKI!</h1>
    <br>
    <h2 class="has-text-centered">If you have any questions about UPRM you're in the right place.</h2>
    <h2 class="has-text-centered">Here you can learn if a class is easy or difficult,
    you can also see other students' experiences like changing majors,
    getting a double majors, going into grad school, etc...</h2>
    <br>
    <br>
    <p class="has-text-centered">Here's how to edit a page:</p>
    <br>
    <p class="has-text-centered">Title --> @h1 sample title ;;</p>
    <p class="has-text-centered">Smaller Title --> @h1 sample title ;;</p>
    <p class="has-text-centered">Paragraph text --> @p sample text ;;</p>
    <p class="has-text-centered">Link --> @link sample link ;;</p>
    <p class="has-text-centered">Link inside of Text --> @p sample text @sample link ;; sample text;;</p>
{% endblock %}
