{% extends "base.html" %}
{% block content %}
    {{contents | safe}}
    <br>
    <button class="button">
        {{edit_link | safe}}
    </button>
    <button class="button">
        {{history_link | safe}}
    </button>
{% endblock %}
